.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

.dot {
    fill: rgba(0,0,0,.2);
}

.line:hover {
 stroke-width: 3;
}